%nav.navbar.navbar-default
  .container-fluid
    .navbar-header
      %a{ class: 'navbar-brand', href: '#' } Reviewers-prototype

    .collapse.navbar-collapse
      %ul.nav.navbar-nav
        %li
          = link_to 'プロフィール変更', '', class: 'nav-link'
        %li
          = link_to 'ログアウト', '', method: :delete, class: 'nav-link'
