%nav.navbar.navbar-default
  .container-fluid
    .navbar-header
      = link_to 'Reviewers-prototype', root_path, class: 'navbar-brand'

    .collapse.navbar-collapse
      %ul.nav.navbar-nav
        %li
          = link_to '要望入力', edit_companies_demand_path(current_company.id), class: 'nav-link'
        %li
          = link_to 'PullRequest', new_companies_pullrequest_path, class: 'nav-link'
        %li
          = link_to 'ログアウト', destroy_company_session_path, method: :delete, class: 'nav-link'
